@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 17% 98%;
    --foreground: 215 39% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 39% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 39% 17%;
    --primary: 227 65% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 9% 96%;
    --secondary-foreground: 215 39% 17%;
    --muted: 220 9% 96%;
    --muted-foreground: 215 9% 49%;
    --accent: 158 75% 41%;
    --accent-foreground: 215 39% 17%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 14% 84%;
    --input: 215 14% 84%;
    --ring: 227 65% 32%;
    --radius: 0.5rem;
    --chart-1: 227 65% 32%;
    --chart-2: 39 91% 55%;
    --chart-3: 158 75% 41%;
    --chart-4: 0 72% 51%;
    --chart-5: 215 39% 17%;
    --sidebar-background: 215 39% 17%;
    --sidebar-foreground: 210 17% 98%;
    --sidebar-primary: 227 65% 32%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 227 65% 42%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 9% 49%;
    --sidebar-ring: 227 65% 32%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 227 65% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 158 75% 41%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 227 65% 32%;
    --chart-1: 227 65% 32%;
    --chart-2: 39 91% 55%;
    --chart-3: 158 75% 41%;
    --chart-4: 0 72% 51%;
    --chart-5: 215 39% 17%;
    --sidebar-background: 215 39% 17%;
    --sidebar-foreground: 210 17% 98%;
    --sidebar-primary: 227 65% 32%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 227 65% 42%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 9% 49%;
    --sidebar-ring: 227 65% 32%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}