@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 223 49% 44%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 14 78% 64%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 223 49% 54%;
    --radius: 0.5rem;
    --chart-1: 223 49% 44%;
    --chart-2: 14 78% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 221 71% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 223 49% 44%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 223 49% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 22%;
    --sidebar-ring: 223 49% 54%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 223 49% 44%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 14 78% 64%;
    --accent-foreground: 24 10% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 223 49% 54%;
    --sidebar-background: 221 71% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 223 49% 44%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 223 49% 25%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 22%;
    --sidebar-ring: 223 49% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
