@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 238 62% 15%;
    --card: 0 0% 100%;
    --card-foreground: 238 62% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 238 62% 15%;
    --primary: 238 62% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 90% 96%;
    --secondary-foreground: 238 62% 34%;
    --muted: 228 90% 96%;
    --muted-foreground: 238 20% 50%;
    --accent: 24 94% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 1 98% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 228 44% 90%;
    --input: 228 44% 90%;
    --ring: 238 62% 34%;
    --radius: 0.5rem;
    --chart-1: 238 62% 34%;
    --chart-2: 24 94% 49%;
    --chart-3: 212 99% 53%;
    --chart-4: 1 98% 50%;
    --chart-5: 33 91% 57%;
    --sidebar-background: 238 62% 24%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 238 62% 34%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 238 62% 44%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 238 30% 40%;
    --sidebar-ring: 238 62% 34%;
  }

  .dark {
    --background: 238 40% 10%;
    --foreground: 0 0% 98%;
    --card: 238 40% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 238 40% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 238 72% 54%;
    --primary-foreground: 238 62% 15%;
    --secondary: 238 30% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 238 30% 20%;
    --muted-foreground: 238 10% 60%;
    --accent: 24 94% 59%;
    --accent-foreground: 24 94% 15%;
    --destructive: 1 88% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 238 30% 20%;
    --input: 238 30% 20%;
    --ring: 238 72% 54%;
    --chart-1: 238 72% 54%;
    --chart-2: 24 94% 59%;
    --chart-3: 212 99% 63%;
    --chart-4: 1 88% 60%;
    --chart-5: 33 91% 67%;
    --sidebar-background: 238 62% 24%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 238 62% 34%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 238 62% 44%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 238 30% 40%;
    --sidebar-ring: 238 62% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
